<h1 class="govuk-heading-m">DfE Reference Data</h1>

<p class="govuk-body">
  Browse and explore the reference data lists available in the dfe-reference-data gem.
</p>

<p class="govuk-body">
  This guide provides a catalogue of reference data lists used across DfE digital services.
  It helps teams:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Find existing reference data before creating new lists</li>
  <li>Understand how datasets should be used</li>
  <li>Promote consistency across services</li>
  <li>Reduce duplicate data definitions</li>
</ul>
<p class="govuk-body">
  The guidance is intended for developers, product managers, delivery managers, architects and analysts working on DfE digital services.
</p>


<h2 class="govuk-heading-m">Available data</h2>

<ul class="govuk-list">
  <% @categories.each do |category, items| %>
    <li>
      <%= link_to category, "#category-#{category.parameterize}", class: "govuk-link govuk-!-font-weight-bold" %>
      <span class="govuk-body-s">(<%= items.count %> <%= "list".pluralize(items.count) %>)</span>
    </li>
  <% end %>
</ul>

<p class="govuk-body">
  Use the navigation on the left to browse individual reference data lists.
</p>
