<h1 class="govuk-heading-m">DfE Reference Data</h1>

<p class="govuk-body">
  Browse and explore the reference data lists available in the dfe-reference-data gem.
</p>



<h2 class="govuk-heading-m">Available data</h2>

<ul class="govuk-list">
  <% @categories.each do |category, items| %>
    <li>
      <%= link_to category, "#category-#{category.parameterize}", class: "govuk-link govuk-!-font-weight-bold" %>
      <span class="govuk-body-s">(<%= items.count %> <%= "list".pluralize(items.count) %>)</span>
    </li>
  <% end %>
</ul>

<p class="govuk-body">
  Use the navigation on the left to browse individual reference data lists.
</p>
