<h1 class="govuk-heading-xl">Countries guide</h1>
<p class="govuk-body">
  DfE reference data has a few different lists that hold the countries.
</p>
<p class="govuk-body">
  There are 3 different terms that are used to refer to what can be understood as "country" or used in context.
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <b>Country</b> - sovereign state, recognised by Foreign, Commonwealth & Development Office
    </li>
    <li><b>Territory</b> - geographical region, which is not on the Foreign, Commonwealth & Development Office Countries list.</li>
    <li><b>Domicile</b> - place of a person's legal home. Could be a country or a territory.</li>

  </ul>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">COUNTRIES_AND_TERRITORIES</h2>
    <p class="govuk-body">
      <code> DfE::ReferenceData::CountriesAndTerritories::COUNTRIES_AND_TERRITORIES</code> is a list of countries and territories. The current version of the list was shaped over the last few years.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">HESA Domiciles</h2>
    <p class="govuk-body">
      <code> DfE::ReferenceData::HESA::Domiciles::COUNTRIES_AND_TERRITORIES</code> is a combination of countries and territories
      between <code>DfE::ReferenceData::CountriesAndTerritories::COUNTRIES_AND_TERRITORIES</code>
      and a few countries that are not on the list.
      The exact data can be found <a class="govuk-link" href="/data/rd_hesa_domiciles_countries_and_territories">here</a> or
      on <a class="govuk-link" href="https://github.com/DFE-Digital/dfe-reference-data/blob/b2477d4c1c3a2305257ed24c2a4dfb5924f7d13c/lib/dfe/reference_data/hesa/domiciles.rb#L8">Github</a>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">Additional reading</h2>
    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <a target="_blank" class="govuk-link" href="https://assets.publishing.service.gov.uk/media/5a829feded915d74e6236cac/domicile-guidance-v1.0.pdf">Domicile guidance from Home Office</a>
        </li>
        <li>
          <a target="_blank" class="govuk-link" href="https://www.gov.uk/government/publications/nationalities">Nationalities and geographical names from Companies House</a>
        </li>
      </ul>
    </p>
  </div>
</div>