<%= govuk_notification_banner(title_text: "Important", text: "DfE reference data guides are curated by the Data Insights Team. If you have any questions, or you would like
to inform us about additional datasets we can add to guides, please contact 'SD Data Insights' on Teams.") %>

<p class="govuk-body">
  This guide explains various data sources used across DfE digital services.
  It helps teams:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Find existing reference data before creating new lists</li>
  <li>Understand how datasets should be used</li>
  <li>Promote consistency across services</li>
  <li>Reduce duplicate data definitions</li>
</ul>
<p class="govuk-body">
  The guidance is intended for developers, product managers, delivery managers, architects and analysts working on DfE digital services.
</p>

<h1 class="govuk-heading-m">Available guides</h1>

<p class="govuk-body">
  How to use DfE reference data or other data in your application.
</p>

<h2 class="govuk-heading-m">Countries</h2>

<p class="govuk-body">
  Guidance on how to use the countries in your application.
</p>

<h2 class="govuk-heading-m">'Almost' reference data</h2>

<p class="govuk-body">
  'Almost' reference data is data that does not change often, but changes often enough that it should not be hardcoded. For example, a list of bank holidays is reference data - it changes every year.
  But the list of schools is not - it changes infrequently, and there is a team that maintains it.
</p>

<h2 class="govuk-heading-m">Data from different applications</h2>

<p class="govuk-body">
  Some applications are using data that is not in DfE reference data. It happens because the data is used by only one application, or a few applications are using different subsets of the same data,
  and it might be challenging to maintain the data in DfE reference data.
</p>