<h1 class="govuk-heading-m">Available guides</h1>

<p class="govuk-body">
  How to use DfE reference data or different data in your application.
</p>

<h2 class="govuk-heading-m">Countries</h2>

<p class="govuk-body">
  Guidance on how to use the countries in your application.
</p>

<h2 class="govuk-heading-m">'Almost' reference data</h2>

<p class="govuk-body">
  'Almost' reference data is data that changes not often, but often enough not to hardcoded. For example, a list of Bank Holidays is a reference data - it changes every year.
  But the list of schools is not - it changes infrequently, as well as there is a team that maintains it.
</p>

<h2 class="govuk-heading-m">Data from different applications</h2>

<p class="govuk-body">
  Some applications are using data that is not in DfE reference data. It happens because the data is used by only one application, or few applications are using different subsets of the same data,
  and it might be challenging to maintain the data in DfE reference data.
</p>
