<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">Initial Teacher Training (ITT) providers</h2>
    <p class="govuk-body">
      The list of all providers who have been accredited to deliver initial teacher training (ITT) courses that lead to qualified teacher status (QTS) <a target="_blank" href="https://www.gov.uk/government/publications/accredited-initial-teacher-training-itt-providers/list-of-providers-accredited-to-deliver-itt-from-september-2024" class="govuk-link">can be found here</a>.
    </p>
  </div>
</div>
