<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">Local authorities</h2>
    <p class="govuk-body">
      The list of local authorities could be established from the <a target="_blank" href="https://www.get-information-schools.service.gov.uk/" class="govuk-link">GIAS service (Get Information about Schools)</a>.
    </p>
    <p class="govuk-body">
      One of the columns in the School list is the school Local Authority code, and the other is the Local Authority name.
    </p>
    <p class="govuk-body">
      The full list of schools can be found in the Downloads section, as "All establishments data".
    </p>
  </div>
</div>
