<%= govuk_notification_banner(title_text: "Important", text: "If you are using this dataset in your application, please contact 'SD Data Insights' on Teams so we can add it to the guides.") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">Passports list</h2>
    <p class="govuk-body">
      The list of passports is used by Apply for Qualified Teacher Status (QTS), and can be found <a class="govuk-link" target="_blank" href="https://github.com/DFE-Digital/apply-for-qualified-teacher-status/blob/65bea96b1189a330a64e5457d3d59e30b6da82c0/public/passport-country-of-issue-canonical-list.json">here</a>.
    </p>
  </div>
</div>
