<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">School list from GIAS</h2>
    <p class="govuk-body">
      Lot of DfE applications is using schools list. The data is taken from
      <a target="_blank" href="https://www.get-information-schools.service.gov.uk/" class="govuk-link">GIAS service (Get Information about Schools)</a>.
      The full list of school can be found in the Downloads section, as "All establishments data"
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 id="community" class="govuk-heading-m">Example implementations</h2>
    <p class="govuk-body">
    <ul class="govuk-list">
      <li>
        <a target="_blank" class="govuk-link" href="https://github.com/DFE-Digital/npq-registration/blob/c54083fe11a491c22cda6bb618ff34f52cfcb7a4/app/services/import_gias_schools.rb">
          NPQ
        </a>
      </li>
    </ul>
    </p>
  </div>
</div>
