<%= govuk_footer do |footer| %>

  <% footer.with_meta_html do %>
    <h2 class="govuk-heading-m">Support and guidance</h2>

    <p class="govuk-body-s">
      Contact SD Data Insights team on Teams
    <p>

  <% end %>

<% end %>
